<!-- Generated template for the MenuComponent component -->
<!--<div class="header">-->
  <!--<button (click)="menuOpen = !menuOpen">watafak</button>-->
  <!--<button (click)="setNewPage()">new page</button>-->
  <!--<button (click)="popNewPage()">pop page</button>-->
  <!--<div>asdas</div>-->
<!--</div>-->

<div class="header">
  <img (click)="openHome()" class="header-logo" height="35" src="assets/images/logo.png">
  <img (click)="menuOpen = true" *ngIf="!menuOpen" class="header-open" height="15" src="assets/images/menu.png">
  <img (click)="menuOpen = false" *ngIf="menuOpen" class="header-open" height="15" src="assets/images/close.png">
</div>

<div *ngIf="menuOpen" [@myAnimation] class="menu">
  <div class="menu-list">
    <button (click)="openAboutUs()">CHI SIAMO</button>
    <button (click)="openPlacePage()">COME/DOVE</button>
    <button (click)="openCatalog()">CATALOGO ESPOSITORI</button>
    <!--<button (click)="openAboutUs()">PROGRAMMA</button>-->
  </div>
</div>


