date-nav {
  width: 100%;

  .nav {
    background-color: #242629;

    min-height: 54px;

    display: flex;
    justify-content: center;

    &-item {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &--icon {
        height: 27px;
        width: 32px;
        background-size: cover;
      }
      &--name {
        font-family: "Tstar", sans-serif;
        font-size: 12px;
        color: #737375;
        font-weight: 700;
      }

      &.about > .nav-item--icon {
        background-image: url("../assets/images/nav-chisiamo.png");
        background-position-x: 32px;
      }

      &.place > .nav-item--icon {
        background-image: url("../assets/images/nav-comedova.png");
        background-position-x: 32px;
      }

      &.catalog > .nav-item--icon {
        background-image: url("../assets/images/nav-espo.png");
        background-position-x: 32px;
      }

      &.active {
        > .nav-item--icon {
          background-position-x: 0;
        }
        > .nav-item--name {
          color: white;
        }
      }
    }
  }
}
